@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typing and stroke animation */
@keyframes textStrokeToTyping {
  0% {
    -webkit-text-stroke: 0.75px skyblue;
    color: transparent;
  }
  50% {
    -webkit-text-stroke: 0px;
    color: #818cf8;
  }
  100% {
    -webkit-text-stroke: 1.5px skyblue;
    color: transparent;
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text-animate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: 
    textStrokeToTyping 6s ease-in-out forwards, 
    typingEffect 6s steps(20, end) forwards;
}

/* Fade-in animations */
.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.5s ease-in-out;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-in-out;
}

.animate.fade-in-left {
  opacity: 1;
  transform: translateX(0);
}

.animate.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}


html, body {
  overflow-x: hidden;
  width: 100%;
}



